body {
font-family:serif;
background-image:url('webbg.png');
}

h1 {
text-align:center;
font-size:400%;
text-shadow:#888 4px 4px 4px;
padding:0px;
margin:0px;
color:#402;
}

h2 {
text-align:center;
}

#contents {
width:800px;
border: 2px solid black;
margin: 20px auto;
background-color: #ffd;
padding:5px 20px;
box-shadow:#888 4px 4px 16px;
}

#unittest {
border: 1px solid black;

}

canvas {
 image-rendering: optimizeSpeed;             /* Older versions of FF          */
 image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
 image-rendering: -webkit-optimize-contrast; /* Safari                        */
 image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
 image-rendering: pixelated;                 /* Awesome future-browsers       */
 -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
 border:2px solid black;
 box-shadow:#888 4px 4px 16px;
 margin: 10px auto;
 display:block;
}

#debug {
text-align:left;
width:620px;
height:460px;
border:2px solid black;
font: 16px monospace;
overflow: auto;
background-color:#ffc;
box-shadow:#888 4px 4px 16px;
margin: 10px auto;
padding:10px;
}

a {
color:#14c;
text-decoration:none;
}

#src {
font-size:200%;
} 

#footer {
text-align:center;
}

#downloads {
text-align:center;
width:960px;
border:2px solid black;
font: 16px monospace;
overflow: auto;
background-color:#ffc;
box-shadow:#888 4px 4px 16px;
margin: 10px auto;
padding:10px;
}

.download {
display:inline-block;
width:300px;
color:#027;
font-family:serif;
}

.download:hover{
color:#47c;
}