body {
font-family:serif;
text-align:center;
background-image:url('../webbg.png');
}

h1 {
text-align:center;
font-size:400%;
text-shadow:#888 4px 4px 4px;
padding:0px;
margin:0px;
}

#unittest {
border: 1px solid black;

}

canvas {
 image-rendering: optimizeSpeed;             /* Older versions of FF          */
 image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
 image-rendering: -webkit-optimize-contrast; /* Safari                        */
 image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
 image-rendering: pixelated;                 /* Awesome future-browsers       */
 -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
 border:2px solid black;
 box-shadow:#888 4px 4px 16px;
 margin: 10px auto;
 display:block;
}

#debug {
text-align:left;
width:620px;
height:460px;
border:2px solid black;
font: 16px monospace;
overflow: auto;
background-color:#ffc;
box-shadow:#888 4px 4px 16px;
margin: 10px auto;
padding:10px;
}

a {
color:#14c;
text-decoration:none;
}

#src {
font-size:200%;
}

#examples {
text-align:center;
width:660px;
border:2px solid black;
font: 16px monospace;
overflow: auto;
background-color:#ffc;
box-shadow:#888 4px 4px 16px;
margin: 10px auto;
padding:10px;
}

.example {
display:inline-block;
width:320px;
color:#027;
font-family:serif;
}

.example:hover{
color:#47c;
}

#tests {
text-align:center;
width:330px;
border:2px solid black;
font: 16px monospace;
overflow: auto;
background-color:#ffc;
box-shadow:#888 4px 4px 16px;
margin: 10px auto;
padding:10px;
}

#footer {

}