body {
	font-family:monospace;
	background:#eee;
	background-image:url('../bg.png');
	background-attachment:fixed;
	background-position:center;
}

a {
text-decoration:none;
color: #007700;
}
a:hover {
text-decoration:underline;
}

#top{
display:none;

}

.footer {
display:none;
}

.headertitle {
font-size:400%;
text-align:center;
margin-top:32px;
}

.contents p {

}

.groupheader {
font-size:200%;
text-align:center;
}

td h2.groupheader {
font-size:200%;
text-align:left;
}

.memberdecls {
width:800px;
border: 1px solid #888;
border-radius:12px;
margin: 20px auto;
background-color: #fff;
padding:5px 20px;
box-shadow:#888 0px 0px 32px;
}

.memSeparator {
border-bottom:1px solid #ccc;
line-height:1px;
margin:0;
padding:0;
}

.memItemLeft, .memItemRight {
font-size:150%;
}

.mdescRight {
font-family:sans-serif;
}

.memtitle {
display: none;
}

.memitem {
width:800px;
border: 1px solid #888;
border-radius:12px;
margin: 20px auto;
background-color: #fff;
box-shadow:#888 0px 0px 32px;
}

.memproto {
border-bottom: 1px solid #888;
border-radius:12px 12px 0px 0px;
background-color: #ddd;
font-size:150%;
padding:5px 10px;
}

.memproto .memname {
display:inline;
}

.memproto .memname tbody tr {
 border-collapse:collapse; 
display:inline;
border:0px solid red;
}
.memproto .memname tbody tr td {
display:inline;
border:0px solid blue;
height:0px;
widht:0px;
margin:0px;
padding:0px;
padding:0px;
}

.memproto .memname tbody tr td.paramtype {
display:none;
}

.memproto .memname tbody tr td.paramname em {
color:#641;
}

.memdoc {
padding:10px;
font-family: sans-serif;
}

.params {

}

dl.params dt {
font-family: sans-serif;
font-size:120%;
font-weight:bold;
}

dl.return dt {
font-family: sans-serif;
font-size:120%;
font-weight:bold;
}

table.params tbody tr td.paramname {
color:#641;
font-weight:bold;
}
